<div id="login-form">
  <h2>LOG IN TO YOUR ACCOUNT</h2>
  <form action="/auth/login" method="POST">

    <label> Email
      <input type="email" name="email" placeholder="Your email" />
    </label>

    <label> Password
      <input type="password" name="password" placeholder="Your password" />
    </label>

    <button type="submit">LOG IN</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>

   <hr>

  <h2>NEED AN ACCOUNT?</h2>
  
  <form action="/auth/signup" method="GET">

  <button type="submit">REGISTER</button>
  
  </form>

</div>