<div id="form">
  <h2>REGISTER</h2>
  <form action="/auth/signup" method="POST">

    <label> Email
      <input type="email" name="email" placeholder="Your email" />
    </label>

    <label> Password
      <input type="password" name="password" placeholder="Your password" />
    </label>

    <label> Name
      <input type="text" name="name" placeholder="Your name" />
    </label>

    <label> Surname
      <input type="text" name="surname" placeholder="Your surname" />
    </label>

    <hr>

    <button type="submit">CREATE ACCOUNT</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>