<h1>Tarot cards list</h1>

<p>
  Hello {{ user.name }},
</p>

<hr>
 </form>
<a href="cards/cards-create"> CREATE YOUR CARD</a>
<hr>

<hr>
<form action="/auth/logout" method="POST">
 <button type="submit">LOGOUT</button>
</form>
<hr>

<ul>
{{#each allCards}}
  <li>
    <a href="/cards/{{this.slug}}">
      {{this.nameCard}}
    </a>
  </li>
{{/each}}
</ul>

{{!-- {{> cardslist-partial}} --}}