<script id="
cardslist-partial"
 type="text/x-handlebars-template">
<h2>Tarot cards list</h2>

<ul>
{{#each allCards}}
  <li>
    <a href="/cards/{{this.slug}}">
      {{this.nameCard}}
    </a>
  </li>
{{/each}}
</ul>
</script>