<h1>{{nameCard}}</h1>

<p>{{description}}</p>

<hr>

<form action="/cards/{{nameCard}}/edit">
  <button>
    Editar
  </button>
</form>

<form action="/cards/{{nameCard}}/delete">
  <button>
    Eliminar
  </button>
</form>