<h1>Create your new Tarot cards</h1>

{{!-- views/cards/cards-create.hbs --}}

<form action="/cards/create" method="post">

<label> Number of Card:
    <input type="text" name="numberCard"/>
  </label>

  <label> Name of Card:
    <input type="text" name="nameCard"/>
  </label>

  <label> Categories:
    <input type="text" name="categories"/>
  </label>

  <label> Description:
    <input type="text" name="description"/>
  </label>

  <button type="submit"> CREATE </button>
</form>